<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= page %></title>
</head>
<body>
    <header>
        <title><%= pageTitle %></title>
        <nav>
            <a href="/" class="nav-button">Home</a>
            <a href="/playlist-builder" class="nav-button">Playlist Builder</a>
            <a href="/event-promotions" class="nav-button">Event Promotions</a>
        </nav>
        <input type="text" id="search-bar" placeholder="Search...">
    </header>
    <main>
    </main>
</body>
</html>
